@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "ARCO";
    src: url('ARCO.ttf') format'truetype';
  }

* {
    font-family: 'Poppins';
    color: #264653;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background: rgb(239,247,255);
    background: linear-gradient(157deg, rgba(239,247,255,1) 0%, rgba(177,228,222,1) 100%);
}

section.top_page{
    height: 1000px;
}

/* Menu navigation */
section.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 70px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    background-color: rgb(239,247,255);
    background: linear-gradient(157deg, rgba(239,247,255,1) 20%, rgb(219, 244, 241) 100%);
}

section.header img {
    width: 180px;
}

nav.nav {
    list-style: none;
    display: flex;
    gap: 70px;
    position: absolute;
    right: 30px;
}

/* Titre */
.landing_page{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.big_title {  
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 0px;
}
.subtitle{
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
}

/* Card section */
section.cards {
    width: 75%;
    margin: 0 auto; 
}

section.cards p.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

section.cards div.container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    background: rgb(239,247,255);
    background: linear-gradient(168deg, rgba(239,247,255,1) 0%, rgb(217, 255, 251) 100%);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

div.container img {
    width: 150px;
}
div.container img:hover {
transform: scale(1.05);
}

div.container p.description {
}