@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "ARCO";
    src: url('ARCO.ttf') format'truetype';
}

* {
    font-family: 'Poppins';
    color: #264653;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background: rgb(239, 247, 255);
    background: linear-gradient(157deg, rgba(239, 247, 255, 1) 0%, rgba(177, 228, 222, 1) 100%);
}

section.top_page {
    height: calc(100vh - 60px);
}

/* Menu navigation */
section.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 70px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    background-color: rgb(239, 247, 255);
    background: linear-gradient(157deg, rgba(239, 247, 255, 1) 20%, rgb(223, 242, 240) 100%);
    z-index: 1;
}

section.header a img {
    cursor: pointer;
    width: 180px;
}
section.header a img:active {
    transform: scale(0.99);
}

nav.nav {
    list-style: none;
    display: flex;
    gap: 70px;
    position: absolute;
    right: 30px;
}

nav.nav a {
    text-decoration: none;
}

/* Titre */
.landing_page {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20vh;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.big_title {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 0px;
}

.subtitle {
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 70px;
}

/* Button */

button.cta {
    margin: 0 auto;
    width: 300px;
    font-family: 'ARCO';
    font-size: 25px;
    color: rgb(239, 247, 255);
    background-color: #2A9D8F;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
}

button.cta:hover {
    background-color: #1F756B;
    transform: scale(1.02);
    cursor: pointer;
}

button.cta:active {
    transform: translateY(1px);
}

div.button {
    text-align: center;
    margin-bottom: 100px;
}

/* Card section */
section.cards {
    max-width: 1100px;
    margin: 0 auto;
}

section.cards p.title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

p.description {
    font-size: 20px;
}

section.cards div.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgb(239, 247, 255);
    background: linear-gradient(168deg, rgba(239, 247, 255, 1) 0%, rgb(217, 255, 251) 100%);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
}

div.container img {
    width: 150px;
}

div.container img:hover {
    transform: scale(1.05);
}
/* List of cards */
div.list.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
    max-width: 1100px;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

div.list.card.pricing{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

div.small.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 190px;
    height: 270px;
    background: rgb(239, 247, 255);
    background: linear-gradient(168deg, rgba(239, 247, 255, 1) 0%, rgb(217, 255, 251) 100%);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

div.small.card.border{
  border: #2A9D8F solid ;
}
div.small.card img{
    width: 130px;
    position: absolute;
    align-self: center;
    bottom: 15px;
}
div.small.card h3{
    margin: 0;
    font-size: 30px;
}
div.list.card.pricing div.small.card h3{
    margin: 0;
    font-size: 25px;
}
div.small.card h2{
    margin: 0;
    color: #2A9D8F;
    position: absolute;
    align-self: center;
    bottom: 15px;
}
div.small.card p{
    margin: 0;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: #264653;
}
div.footer.bar {
    display: flex;
    justify-content: space-between;
    width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 20px; 
}
div.column li {
    color: rgb(239, 247, 255);
    list-style: none;
    font-size: 12px;
    text-align: center;
}

div.footer.bar img {
width: 40px;
height: 32px;
}

div.column li.label {
    font-weight: bold;
    font-size: 15px;
}

footer p{
    padding: 10px 0px 10px 10px;
    font-size: 12px;
    margin: 0;
    color: rgb(239, 247, 255);
}


/* Studio */

h1{
    text-align: center;
}
div.canvas {
    text-align: center;
    margin-bottom: 252.5px;
}
canvas{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.workshop{
    display: flex;
    margin-left: 20px;
}

form{
    display: flex;
    height: fit-content;
    width: 30%;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgb(239, 247, 255);
    background: linear-gradient(168deg, rgba(239, 247, 255, 1) 0%, rgb(217, 255, 251) 100%);
    padding: 20px 50px;
    margin-left: 20px;
}

section.workshop button, label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
  }

  section.workshop input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
  }

  section.workshop label[for="file"] {
   
    background:#2A9D8F;
    border-radius: 15px;
    color: rgb(239, 247, 255);
    text-align: center;
    font-family: ARCO;
    font-weight: 300;
  }

  section.workshop label[for="file"]:hover {
    background:#1F756B;
  }

  section.workshop label[for="file"]:active {
    box-shadow: inset 1px 1px 3px #ccc;
  }

  section.workshop ul {
    list-style: none;
  }